<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TestngProject"/>
    <listAttribute key="org.testng.eclipse.SUITE_TEST_LIST">
        <listEntry value="F:\Simplilearn_Master_Program\Phase2_Project_Assisted_Practice\SL_MP_Phase2_Workspace\Section_02_Testng\TestngProject\testng.xml"/>
    </listAttribute>
    <intAttribute key="org.testng.eclipse.TYPE" value="3"/>
</launchConfiguration>
